# Environments
venv/
env/
.env
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.sqlite3
*.db
backend/blog.db

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

